<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Change password</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" />
  <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
  <link rel="stylesheet" th:href="@{/css/changePassword.css}" href="../static/css/changePassword.css" />
</head>
<body>
  <a class="github" href="https://github.com/VetalZloy/projectica"></a>  
  <a class="about" th:href="@{/about}"></a>
  <header>
    <a class="logo" th:href="@{/}"></a>
    <ul>
      <li><a class="logout" th:href="@{/logout}" ></a></li>
      <li><a th:href="@{/users}" >Users</a></li>
      <li><a th:href="@{/projects}" >Projects</a></li>
      <li><a th:href="@{/positions}" >Vacancies</a></li>
      <li><a th:href="@{/messages}" >Messages</a></li>
    </ul>
  </header>

  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="change-password-panel panel">
            <div class="panel-title-big">Change password</div>
            <div class="panel-body">
              <form action="" method="POST">
            		<input type="password" name="password" placeholder="Type new password..." />
            		<span class="invalid"></span>
            		<input type="password" name="passwordConfirmation" placeholder="One more time..." />
            		<span class="invalid"></span>
            		<input type="hidden" name="passwordToken" value="${passwordToken}" />
            		<input type="submit" value="Change password" disabled="disabled" />
            	</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/base.js}"></script>  
  <script th:src="@{/js/changePassword.js}"></script>  
	
</body>
</html>