<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title th:text="${title}">Title</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" />
  <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
  <link rel="stylesheet" th:href="@{/css/info.css}" href="../static/css/info.css" />
</head>
<body>
  <a class="github" href="https://github.com/VetalZloy/projectica"></a>  
  <a class="about" th:href="@{/about}"></a>
  <header>
    <a class="logo" th:href="@{/}"></a>
    <ul>
      <li><a class="logout" th:href="@{/logout}" ></a></li>
      <li><a th:href="@{/users}" >Users</a></li>
      <li><a th:href="@{/projects}" >Projects</a></li>
      <li><a th:href="@{/positions}" >Vacancies</a></li>
      <li><a th:href="@{/messages}" >Messages</a></li>
    </ul>
  </header>

  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <p class="topic" th:text="${topic}">Topic</p>
          <p class="additions" th:text="${additions}">Additions</p>
        </div>
      </div>      
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/base.js}" src="../static/js/base.js"></script>

</body>
</html>