<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Projects</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" />
  <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
  <link rel="stylesheet" th:href="@{/css/projects.css}" href="../static/css/projects.css" />
</head>
<body>
  <a class="github" href="https://github.com/VetalZloy/projectica"></a>  
  <a class="about" th:href="@{/about}"></a>
  <header>
    <a class="logo" th:href="@{/}"></a>
    <ul>
      <li><a class="logout" th:href="@{/logout}" ></a></li>
      <li><a th:href="@{/users}" >Users</a></li>
      <li class="active"><a th:href="@{/projects}" >Projects</a></li>
      <li><a th:href="@{/positions}" >Vacancies</a></li>
      <li><a th:href="@{/messages}" >Messages<span class="new-messages"></span></a></li>
    </ul>
  </header>

  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 projects">
          <div class="project" th:each="project : ${projects}">
            <h2>
              <a th:href="@{/projects/__${project.id}__}" th:text="${project.name}">Project name</a>
            </h2>
            <h3 th:text="|${project.vacanciesAmount} vacancies|">X vacancies</h3>
            <p th:text="${project.description}">Project description</p>
         </div>
        </div>
        <div class="col-xs-5 col-xs-offset-1 search">
          <div class="panel">
          	<div class="panel-title-big">Search</div>
          	<div class="panel-body">
              <input type="text" name="search" placeholder="Project name" />
              <p class="button-wrapper">
                <button class="search-button" onclick="search()">Search</button>
              </p>
          	</div>
          </div>
          <span th:if="${beans.securityUtil.isLoggedIn()}" class="create-project" onclick="openPanel('.create-panel')" title="Create project"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="create-panel panel openable">
    <div class="panel-title">Create your project</div>
    <div class="panel-body">
   	  <form method="post">
        <input type="text" name="name" placeholder="Project name..." />
        <input type="text" name="position" placeholder="Your position..." />
        <textarea name="description" placeholder="Description..."></textarea>
        <p class="status"></p>
        <p class="button-wrapper">
          <button type="submit" onclick="create()" disabled="disabled">Create</button>
        </p>        
      </form>
    </div>
  </div>

  <div class="bg_layer"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/jquery.cookie.js}" src="../static/js/jquery.cookie.js"></script>  
  <script th:src="@{/js/base.js}" src="../static/js/base.js"></script>
  <script th:src="@{/js/projects.js}" src="../static/js/projects.js"></script>

</body>
</html>