p {
  margin-top: 5px;
  font-size: 16px;
}

.change-password-panel .panel-body {
  padding-right: 40px;
  padding-bottom: 60px;
}

.change-password-panel input[type="password"] {
  width: 100%;
  font-size: 20px;
  padding: 3px;
  border: 1px solid #A9A9A4;
}

.change-password-panel input[type="password"]:first-child {
  margin-bottom: -1px;
}

.change-password-panel input[type="submit"] {
  position: absolute;
  right: 20px;
  bottom: 5px;
  margin-top: 10px;
  font-size: 20px;
  padding: 2px 4px;
  border: 3px solid #63B175;

}

.change-password-panel input[type="submit"]:hover {
  background-color: #A9A9A4;
}

.change-password-panel input[type="submit"]:disabled {
  background-color: #EFEFEF;
}

.valid, .invalid {
  position: absolute;
  padding: 10px;
  right: 25px;
  border-radius: 50%;
  margin-top: 7px;
}

.valid {
  background-color: #63B175;
}

.invalid {
  background-color: #B22F2F;
}
