.interlocutor {
	position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #AEAEAE;
}

.interlocutor a{
  position: absolute;
  top: 8px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.interlocutor img {
  width: 80px;
  border-radius: 50%;
}

.interlocutor .last-message {
  position: absolute;
  top: 40px;
  left: 90px;
  padding: 5px;
  text-align: justify;
  width: 70%;
}

.online {
  padding: 7px;
  background-color: #63B175;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #fff;
  left: 60px;
  top: 70px;
}

.interlocutor .unread-by-user {
  background-color: #EFEFEF;
  border-radius: 10px;
}

.unread-by-interlocutor:after{
  content: "";
  padding: 5px;
  background-color: #A9A9A4;
  font-size: 0;
  position: absolute;
  right: -12px;
  top: 12px;
  border-radius: 50%;
}