.container-fluid {
  padding-top: 0;
}

.row {
  margin-bottom: 0;
  background-color: #EFEFEF;
}

.dialog {
  background-color: #FFF;
  border: 1px solid #A9A9A4;
  border-top: 0;
  padding: 0;
}

.interlocutor {
  padding: 3px 10px;
  background-color: #EFEFEF;
  border-bottom: 1px solid #A9A9A4;
}

.interlocutor img{
  width: 50px;
  border-radius: 50%;
}

.interlocutor .online {
  padding: 5px;
  background-color: #63B175;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #EFEFEF;
  left: 48px;
  top: 38px;
}

.interlocutor a {
  font-size: 20px;
  font-weight: 600;
}

.scroll-pane {
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.mCSB_dragger_bar {
  background-color: #EFEFEF;
}

textarea {
  resize: none;
  width: 100%;
  height: 70px;
  border: 0;
  border-top: 1px solid #A9A9A4;
  padding: 5px;
  padding-right: 40px;
  padding-bottom: 0;
  font-size: 20px;
}

textarea:focus {
  outline: none;
}

.send {
  display: none;
  padding: 15px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  background-image: url(../img/send.png);
  background-size: contain;
  background-position: -2px 1px;
}

.send:hover {
  background-color: #A9A9A4;
  border-radius: 50%;
  cursor: pointer;
}

.message:first-child {
  margin-top: 10px;
}

.message {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
}

.message .avatar {
  position: absolute;
  display: inline-block;
}

.message .avatar img {
  width: 40px;
  border-radius: 50%;
}

.right-side {
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}

.date {
  margin-left: 5px;
  font-weight: 100;
  color: #A9A9A4;
}

.day-line {
  text-align: center;
  margin-bottom: 5px;
}

.day-line span {
  padding: 5px;
  border-radius: 15px;
  background-color: #EFEFEF;
}

.right-side .username {
  font-weight: 600;
}

.right-side p {
  margin-top: 5px;
}

.message .text {
  font-size: 16px;
}