input[type="text"] {
  width: 100%;
}

.vacancy {
  padding: 10px;
  border-bottom: 1px solid #AEAEAE;
}

.vacancy h2 a{
  font-size: 28px;
  color: #27BDCC;
}

.vacancy .project-link {
  color: #0E8167;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
}

.vacancy p {
  text-align: justify;
  padding: 10px;
}

.search .search-button {
  text-align: center;
}

.search button {
  margin-top: 10px;
  height: 28px;
  width: 90px;
}

.add-tag-button {
  position: absolute;
  top: 76px;
  right: 106px;
  font-size: 18px;
}

input[name="tagName"] {
  margin-bottom: 0;
}

.similar-tags {
  z-index: 100;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

.similar-tags p {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #A9A9A4;
  border-top: 0;
}

.similar-tags p:first-child {
  border-top: 0;
}

.similar-tags p:hover {
  background-color: #B8B8B8;
  cursor: pointer;
}

.added-tags div {
  margin-top: 5px;
  margin-left: 2px;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #61AE73;
  padding: 0 4px;
}
