.row {
  padding: 0 40px;
}

input[type="text"] {
  width: 100%;
}

.vacancy {
  padding: 10px;
  border-bottom: 1px solid #AEAEAE;
}

.vacancy h2 a{
  font-size: 28px;
}

.vacancy .project-link {
  color: #5C5C5C;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
}

.vacancy p {
  text-align: justify;
  padding: 10px;
}

.search .search-button {
  text-align: center;
}

.search button {
  margin-top: 10px;
  height: 28px;
  width: 90px;
}

.add-tag-button {
  position: absolute;
  top: 76px;
  right: 106px;
  font-size: 18px;
}

input[name="tagName"] {
  margin-bottom: 0;
}

.similar-tags {
  z-index: 100;
  width: 100%;
  font-weight: 600;
  margin-top: 3px;
  position: absolute;
  padding-right: 60px;
}

.similar-tags p {  
  background-color: #fff;
  padding: 3px 5px;
}

.similar-tags p:first-child {
  border-top: 0;
}

.similar-tags p:hover {
  background-color: #B8B8B8;
  cursor: pointer;
}

.added-tags div {
  margin-top: 5px;
  margin-left: 2px;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #A9A9A4;
  padding: 0 4px;
}

.added-tags .close {
  background-image: url(../img/close.png);
  top: 1px;
}

.added-tags .close:hover {
  background-color: inherit;
}