textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
}

a {
  font-weight: 600;
}

h1 {
  margin-bottom: 0px;
}

.status {
  position: absolute;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.free {
  background-color: #63B175;
}

.requested {
  color: #fff;
  background-color: #1E7AE0;
}
.active {
  background-color: #FFDD00;
}

.closed {
  color: #fff;
  background-color: #B22F2F;
}

.participant {
  position: relative;
}

.participant img {
  width: 50px;
  border-radius: 50%;
}

.participant .online {
  padding: 5px;
  background-color: #63B175;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #fff;
  left: 37px;
  top: 39px;
}

.participant a {
  position: absolute;
  font-size: 25px;
  margin-top: 6px;
  margin-left: 5px;
}

.description {
  font-size: 16px;
  text-align: justify;
}

.project {
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 20px;
}

.tags .panel-body>div{
  margin-top: 5px;
  margin-left: 2px;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #61AE73;
  padding: 0 4px;
}

.applicants .panel-body {
  padding: 0;
}

.applicants p{	
  font-size: 15px;
}

.applicants a{	
  display: inline-block;
  color: #27BDCC;
  border-radius: 0;
  border: 0;
  font-size: 20px;
}

.applicant a:hover {
  background-color: #EFEFEF;
}

.applicants img {
  width: 50px;
  border-radius: 50%;
}

.applicant {
  border-bottom: 1px solid #A9A9A4;
  padding: 10px;
  position: relative;
}

.applicant:last-child {
  border-bottom: 0;
}

.applicant .online {
  padding: 5px;
  background-color: #63B175;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #EFEFEF;
  left: 52px;
  top: 52px;
}

.send-message {
  background-image: url(../img/send-message.png);
  background-repeat: no-repeat;
  padding: 15px;
  background-size: contain;
  background-position: 0;
}

.applicant button {
  float: right;
  margin-top: 7px;
}

.user-additions {
  padding: 5px;
  text-align: justify;
}

.close-position .panel-body {
  padding-bottom: 40px;
}

.like {
  float: right;
  border: 2px solid #63B175;
  background-color: #efefef;
  color: #000;
}

.dislike {
  float: left;
  border: 2px solid #B22F2F;
  background-color: #efefef;
  color: #000;
}

.request button {
  float: right;
}

.request .panel-body {
  padding-bottom: 40px;
}

.comment .title {
  height: inherit;
  line-height: inherit;
}

.good {
  padding-left: 0;
  background-color: #63B175;
}

.good .title {
  background-color: #308042;
}

.bad {
  padding-left: 0;
  background-color: #D89E9E;
}

.bad .title {
  background-color: #BB6262;
}

.comment p {
  font-size: 16px;
}

.tag-add-panel {
  display: none;
  position: fixed;
  width: 310px;
  left: 50%;
  margin-left: -155px;
  top: 75px;
  z-index: 100;
}

.tag-add-panel input {
  width: 100%;
}

.tag-add-panel button {
}

.tag-add-panel .panel-body {
}

.tag-add-panel .button-wrapper {
  margin-top: 10px;
}

.similar-tags {
  position: relative;
  z-index: 1000;
  width: 100%;
  margin-top: -10px;
}

.similar-tags p{
  width: 100%;
  border: 1px solid #A9A9A4;
  font-weight: 600;
  padding: 5px;
  border-top: 0px;
  font-size: 15px;
  background-color: #fff;
}

.similar-tags p:hover {
  cursor: pointer;
  background-color: #B8B8B8;
}

.edit {
	display: inline-block;
	padding: 12px;
	background-image: url(../img/edit.png);
	background-size: contain;
}

.edit:hover {
	cursor: pointer;
}

.edit-panel {
  display: none;
  position: fixed;
  width: 40%;
  left: 30%;
  top: 75px;
  z-index: 100;
}

.edit-panel .panel-body{
}

.edit-panel input {
  width: 100%;
}

.edit-panel textarea {
  width: 100%;
  height: 300px;
  margin-top: -1px;
}
.edit-panel .error {
  font-size: 16px;
  text-align: justify;
}
