button {
  font-size: 20px;
  background-color: #EFEFEF;
  border: 3px solid #63B175;
  padding: 0 5px;
}

button:hover {
  background-color: #B8B8B8;
}

.vacancy {
  padding-bottom: 10px;
  border-bottom: 1px solid #AEAEAE;
}

.vacancy h2{
  font-size: 35px;
}

.vacancy .project-link {
  color: #0E8167;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
}

.vacancy p {
  text-align: justify;
  padding: 10px;
}

.search .panel-body {
  padding-bottom: 40px;
}

.search input {
  padding: 3px 5px;
  border: 1px solid #A9A9A9;
  width: 100%;
  font-size: 20px;
}

.search input[name='tagName'] {
  margin-top: -1px;
}

.search-button {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.add-tag-button {
  position: absolute;
  top: 76px;
  right: 106px;
  font-size: 18px;
}

.similar-tags {
  z-index: 100;
  width: 100%;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  padding-right: 42px;
}

.similar-tags p {
  padding: 3px 5px;
  background-color: #fff;
  border: 1px solid #A9A9A4;
  border-top: 0;
}

.similar-tags p:first-child {
  border-top: 0;
}

.similar-tags p:hover {
  background-color: #B8B8B8;
  cursor: pointer;
}

.added-tags div {
  margin-top: 5px;
  margin-left: 2px;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #61AE73;
  padding: 0 4px;
}
