textarea {
  width: 100%;
  height: 200px;
}

.info p{
  font-size: 16px;
  text-align: justify;
}

.info .creator {
  font-size: 18px;
  font-weight: 600;
}

.positions>div {
  margin-bottom: 10px;
}

.participants {
  margin-top: 10px;
}

.participants .panel-body {
  padding: 0px;
}

.participants a {
  display: inline-block;
  font-size: 20px;
  border: 0px;
  border-radius: 0;
}

.user p{
  font-weight: 600;
  padding: 0 5px;
  border-top: 1px solid #B8B8B8;
  margin: 0;
}

.user .active{
  border-top: 1px solid #B8B8B8;
}

.user-positions {
  display: none;
}

.user-positions a{
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top: 1px solid #B8B8B8;
  background-color: #fff;
  padding-left: 20px;
  display: block;
}

.reveal {
  position: absolute;
  right: 20px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 50%;
  border: 1px solid #686868;
  background-image: url(../img/reveal.png);
  background-size: 14px 14px;
  background-position: 3px 4px;
  background-repeat: no-repeat;
}

.reveal:hover {
  cursor: pointer;
  background-color: #686868;
  background-image: url(../img/reveal-white.png);
}

.user .cover {
  position: absolute;
  right: 20px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 50%;
  border: 1px solid #686868;
  background-image: url(../img/cover.png);
  background-size: 14px 14px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

.cover:hover {
  cursor: pointer;
  background-color: #686868;
  background-image: url(../img/cover-white.png);
}

.add-chatroom {
  display: none;
  opacity: 1;
  width: 310px;
  position: fixed;
  left: 50%;
  margin-left: -155px;
  top: 30%;
}

.add-chatroom .panel-body {
  border: 1px solid #A9A9A4;
  border-top: 0;
}

.add-chatroom input {
  width: 100%;
}

.create-position {
  display: none;
  opacity: 1;
  width: 310px;
  position: fixed;
  left: 50%;
  margin-left: -155px;
  top: 10%;
}

.create-position input {
  width: 100%;
  margin-bottom: 10px;
}

.create-position textarea {
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}

.tag-block {
  position: relative;
}

.create-position .add-button {
  position: absolute;
  width: 51px;
  height: 31px;
  right: 0;
}

.create-position .button-wrapper {
  margin-top: 10px;
}

.similar-tags {
  z-index: 1000;
  width: 100%;
  margin-top: -11px;
}

.similar-tags p:first-child {
  margin-top: 1px;
}

.similarTag {
  width: 100%;
  border: 1px solid #A9A9A4;
  font-weight: 600;
  border-top: 0px;
  padding: 5px;
}

.similarTag:hover {
  cursor: pointer;
  background-color: #B8B8B8;
}

.added-tags {
}

.added-tags>div {
  margin-top: 15px;
  margin-left: 2px;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #61AE73;
  padding: 0 4px;
}

.edit {
	display: inline-block;
	padding: 12px;
	background-image: url(../img/edit.png);
	background-size: contain;
	margin-bottom: 15px;
}

.edit:hover {
	cursor: pointer;
}

.edit-panel {
  display: none;
  position: fixed;
  width: 40%;
  left: 30%;
  top: 75px;
  z-index: 100;
}

.edit-panel .panel-body{
}

.edit-panel input {
  width: 100%;
}

.edit-panel textarea {
  width: 100%;
  height: 300px;
  margin-top: -1px;
}

.edit-panel button {
  margin-top: 10px
}

.edit-panel .error {
  font-size: 16px;
  text-align: justify;
}