button {
  font-size: 20px;
  background-color: #EFEFEF;
  border: 3px solid #63B175;
  padding: 0 5px;
}

button:hover {
  background-color: #B8B8B8;
}

.user {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #AEAEAE;
}

.user a{
  position: relative;
  top: 8px;
  padding-left: 10px;
  font-size: 35px;
  font-weight: 600;
}

.user img {
  width: 80px;
  border-radius: 50%;
}

.online {
  padding: 6px;
  background-color: #63B175;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #FFF;
  left: 64px;
  top: 69px;
}

.search .panel-body {
  padding-bottom: 40px;
}

.search input {
  padding: 3px 5px;
  border: 1px solid #A9A9A9;
  width: 100%;
  font-size: 20px;
}

.search input[name='tagName'] {
  margin-top: -1px;
}

.search-button {
  position: absolute;
  bottom: 5px;
  right: 21px;
}

.add-tag-button {
  position: absolute;
  top: 76px;
  right: 106px;
  font-size: 18px;
}

.similar-tags {
  z-index: 100;
  width: 100%;
  padding-right: 42px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
}

.similar-tags p {  
  background-color: #fff;
  padding: 3px 5px;
  border: 1px solid #A9A9A4;
  border-top: 0;
}

.similar-tags p:first-child {
  border-top: 0;
}

.similar-tags p:hover {
  background-color: #B8B8B8;
  cursor: pointer;
}

.added-tags div {
  margin-top: 5px;
  margin-left: 2px;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #61AE73;
  padding: 0 4px;
}
