.user {
  position: relative;
  padding: 10px 10px;
  border-bottom: 1px solid #AEAEAE;
}

.user a{
  position: relative;
  top: 8px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 600;
}

.user img {
  width: 65px;
  border-radius: 50%;
}

.online {
  padding: 6px;
  background-color: #63B175;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #FFF;
  left: 59px;
  top: 59px;
}

.search .panel-body {
}

.search input {
  width: 100%;
}

.search input[name='tagName'] {
  margin-top: -1px;
}

.search button {
  margin-top: 10px;
}

.similar-tags {
  z-index: 100;
  width: 100%;
  font-weight: 600;
  margin-top: -7px;
  position: absolute;
  padding-right: 60px;
}

.similar-tags p {  
  background-color: #fff;
  padding: 3px 5px;
}

.similar-tags p:first-child {
  border-top: 0;
}

.similar-tags p:hover {
  background-color: #B8B8B8;
  cursor: pointer;
}

.added-tags div {
  margin-top: 5px;
  margin-left: 2px;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #A9A9A4;
  padding: 0 4px;
}

.added-tags .close {
  background-image: url(../img/close.png);
  top: 1px;
}

.added-tags .close:hover {
  background-color: inherit;
}
